<! DOCTYPE html>
{% load staticfiles %}
{% load blog_tags %}
<html>
  <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog1.css' %}" />
      <title>Mój blog</title>
  </head>

  <body>
    <div class="header">
      <p><a href="{% url 'main_site' %}">Mój pierwszy blog! Dotychczas opublikowałem {% total_posts %} postów!<a/></p>
     {% if user.is_authenticated %}
      <p><a href="{% url 'post_new' %}" class = "top-menu"><span class="glyphicon glyphicon-plus"></span></a>
     {% endif %}
    </div>
    <div id ="sidebar">
      {% block sidebar %}
        <h2>Mój blog</h2>
        <h3>Najnowsze posty</h3>
        {% show_latest_posts 3 %}
      <ul>
        <li><a href="{% url 'main_site' %}">Strona główna</a></li>
        <li><a href="{% url 'post_list' %}">Lista postów</a></li>
      </ul>

      {% endblock %}
    </div>

    <div class="content">
      {% block content%} {% endblock %}
    </div>
  </body>
</html>
