{% extends "blog/base.html" %}
{% block content %}
 {% if user.is_authenticated %}
  <p> <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></p>
 {% endif %}
  <p> <h1 class="post_title"> {{post.title}}</h1></p>
  <p class="tags">Tagi: {{ post.tags.all|join:", "}}</p>
  <p> <h5 class="post_text"> {{post.body_text|linebreaksbr}}</h5> </p>
  <p>
    <a href="{% url 'post_share'  post.id %}">Udostępnij post</a>
  </p>
  <p><h3>Komentarze</h3></p>
  <p> <a class="comment-btn" href ="{% url 'add_comment' pk=post.pk %}">Dodaj komentarz</a></p>
  {% for comment in comments %}
  <div class="comment">
     <div class="comment_info_div">
      <p class="info"> Komentarz {{ forloop.counter }} dodany przez {{comment.author}}, {{ comment.publish}}</p>
     </div>
    <div class="comment_text_div">
      <p class="comment_text">{{ comment.body_text|linebreaks}}</p>
    </div>
  {% empty %}
    <p> Nie ma jeszcze żadnych komentarzy </p>
  </div>
  {% endfor %}
  <p>Jak oceniasz mój post?</p>
  {% if error_message %}<p><strong>{{ error_message}}</strong><p>{% endif %}
  {% if inf_message %}<p><strong>{{ inf_message }}</strong><p>{% endif %}
  <div class = "vote">
    <form action="{% url 'post_vote' pk=post.id %}" method="post">
    {% csrf_token %}
      <div class = "vote_butt">
        <input type="radio" name="score" id="0" value="0"/>
        <label for="0">0</label>
        <input type="radio" name="score" id="1" value="1"/>
        <label for="1">1</label>
        <input type="radio" name="score" id="2" value="2"/>
        <label for="2">2</label>
        <input type="radio" name="score" id="3" value="3"/>
        <label for="3">3</label>
        <input type="radio" name="score" id="4" value="4"/>
        <label for="4">4</label>
        <input type="radio" name="score" id="5" value="5"/>
        <label for="5">5</label>
      </div>
      <input type="submit" value="Głosuj"/>
    </form>
    <a>Średnia ocena postu: {{ post.avr_score|floatformat:2 }}</a>
    {% if score_number %}
    <a>Liczba oddanych głosów: {{ score_number }} </a>
    {% endif %}
  </div>
{% endblock %}
